body{
    background-color: #7fffd4;
    text-align:center
}
p{
    color: brown;
    text-align: center;

}
img{
    width:700px;
    height:700px;

}
h2{
    color: darkblue;
}
p{
    font-size:20px;
}
.design{
    width:100px;
    height:100px;
}